/* p,
.card-title,
.banner-heading,
.price,
a,
.h1,
h3{
    letter-spacing: .2px;
    word-spacing: 1px;
} */


a{
    text-decoration: none;
    color: white;
}

/* navbar */

.nav-container{
    margin-bottom: 4em;
}

.logo-img{
    padding: 0 10px;
}



/* navbar */

/* slider */

.slider-container{
    background-color: #FEEAE9;
    border-radius: 10px;
    margin-bottom: 6em;
}

.price{
    color: #FF1E76;
    font-size: 2.8em;
}

.banner-heading{
    font-size: 3rem;
}

.banner-img-container{
    padding:1.3rem;
}

.banner-info{
    padding: 50px;
}

/* .banner-info p{
    max-width: 550px;

} */

.buy-btn{
    background-image: linear-gradient(#FF4C93,#FF1E76);
    color: white;
    padding: 8px 25px;
    border-radius: 9px;
    font-size: 20px;
}



/* slider */

/* catagories */

.catagory-img{
    width: 100%;
}


.watch-col,
.bag-col,
.shoe-col{
    padding: 10px 25px;
    border-radius: 10px;
}

.watch-col{
    background-color: #FFA500;

}

.bag-col{
    background-color: #DA70D6;
}

.shoe-col{
    background-color: #0000FF;
}
#catagories{
    color: white;
    margin-bottom: 3.125em;
}


.h1{
    padding: 10px;
}



/* catagories */

/* shoe & backpack */

.section-heading{
    padding-bottom: 10px;
}

.card{
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.486);
    border-radius: 10px;
}

.btn-container{
    padding: 16px;
}

.shoe-container,
.bag-container{
    margin-bottom: 100px;
}

.fas{
    font-size: 11px;
    padding-right: 1px;
}


/* shoe & backpack */

/* subscribe */

.subscribe-content p{
    font-weight: 600;
    color: gray;
}

.subscribe-content input{
    border-radius: 5px;
    border: 1px solid black;
}



.subscribe-container{
    background-color: #FEEAE9;
    border-radius: 10px;
    margin-bottom: 100px;
}




/* subscribe */

/* ------------------------------------------------mobile responsive--------------------------------------*/

 @media only screen and (max-width: 576px) {

    /* .slider-container{
        height: 650px;
    } */

    
    .price{
        color: #FF1E76;
        font-size: 2rem;
    }
    
    .banner-heading{
        font-size: 2rem;
    }
    .buy-btn{
        background-image: linear-gradient(#FF4C93,#FF1E76);
        color: white;
        padding: 5px 20px;
        border-radius: 9px;
        font-size: 16px;
    }
    .section-heading{
        padding-bottom: 15px;
        font-size: 30px;
    }

    .catagory-img{
        width: 120px;
    }

    .h1{
        font-size: 35px;
    }

    .watch-col{
        justify-content: center;
    }
    .banner-img-container{
        padding-inline: 50px;
    }



    .banner-info{
        padding-top: 20px;
        padding-bottom: 0;
    }
    
    
} 
@media only screen and (max-width:340px){
    /* .banner-img-tv{
        padding-top: 24px;
    } */

    .tv-banner-info p{
        padding-bottom: 24px;
    }
}

@media only screen and (min-width:393px) and (max-width:430px){
    .tv-banner-info p{
        padding-bottom: 24px;
    }
}

@media only screen and (min-width:431px) and (max-width:447px){
    .banner-heading-headphone,
    .banner-heading-xbox{
        padding-bottom: .9rem;
    }
}

@media only screen and (min-width:448px) and (max-width:464px){
    .tv-banner-info p{
        padding-bottom:1.5rem;
    }

    .x-box-banner-info p{
        margin-bottom: 1.5rem;
    }

}

/* ------------------------------------------------mobile responsive--------------------------------------*/

@media only screen and (min-width:577px) and (max-width:992px){
    /* .slider-container{
        height: 350px;
    } */

    .price{
        color: #FF1E76;
        font-size: 2rem;
    }
    
    .banner-heading{
        font-size: 2rem;
    }
    .buy-btn{
        background-image: linear-gradient(#FF4C93,#FF1E76);
        color: white;
        padding: 5px 20px;
        border-radius: 9px;
        font-size: 16px;
    }
    .section-heading{
        padding-bottom: 15px;
        font-size: 30px;
    }

    .catagory-img{
        width: 100px;
    }

    .h1{
        font-size: 35px;
    }

    .watch-col{
        justify-content: center;
    }

    .tv-banner-info p{
        padding-bottom: 24px;
    }
    .banner-img-container{
        padding: 20px;
    }

    .banner-img{
        width: 50%;
    }

}

@media only screen and (min-width:993px) and (max-width:1312px){
    /* .slider-container{
        height: 350px;
    } */



    .price{
        color: black;
        font-size: 2.5rem;
    }
    
    .banner-heading{
        font-size: 2rem;
    }
    .buy-btn{
        background-image: linear-gradient(#FF4C93,#FF1E76);
        color: white;
        padding: 5px 20px;
        border-radius: 9px;
        font-size: 16px;
    }
    .section-heading{
        padding-bottom: 15px;
        font-size: 30px;
    }

    .catagory-img{
        width: 120px;
    }

    .h1{
        font-size: 35px;
    }

    .watch-col{
        justify-content: center;
    }
    .banner-img-container{
        padding: 20px;
    }

    .banner-img{
        width: 50%;
    }

    .banner-info{
        padding: 50px;
        padding-bottom: 0px;
    }
} 